# Dependencies
node_modules/

# Production build outputs
dist/
dist-ssr/

# Environment files
.env
.env.local
.env.production
.env.development
!.env.example

# Databases
*.sqlite
*.sqlite-journal

# Vite timestamp files
vite.config.js.timestamp*

# Logs & OS temp files
*.log
.DS_Store
